extends layout

block content
  h1= title
  p I guess if you wanted, you could post a picture.
  form(action='/pics', method='post', enctype='multipart/form-data')
    input(type='file', name='picture') Submit a pic
    input(type='submit') Submit

  p Also, here's some files if you want to check them out.
  a(href='/pics') The List
