extends layout

_id = file._id.toString();

block content
  h1= title
  p MMmmmmm... Excellent.

  ul
    each file in fileList
      li
        label(for=_id)= file.label + ": "
        a(id=file._id.toString(), href='/files/' + file._id.toString())= file.filePath.split('/').pop()
