extends layout

_id = file._id.toString();

block content
  h1= title
  p MMmmmmm... Excellent.

  ul
    each file in fileList
      li
        a(id=file._id.toString(), href='/files/' + file._id.toString())= file.path.split('/').pop()
