body {
  padding: 2em;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 10px;
}

.largeLink {
  font-size: 1.5em;
  margin: 4px;
}

.fieldLabel {
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
